*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10px auto;
    background-color: lightgray;
    max-width: 1080px;
    background-color: lightgray;
}

.header{
    text-align: center;
    margin-bottom: 5px;
}
.header h1{
    font-size: 3em;
}

a{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: aqua;
}


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    display: block;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 5px; 
    max-width: 100%;
}
figcaption{
    font-size: 0.83em;
    text-align: center;
}
.text{
    margin: 10px;
    padding: 10px;
}

table{
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
}

table thead{
    background-color: black;
    width: 100%;
    
}

#headTable{
    background-color: black;
    color: whitesmoke;
}
tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}
  
tr:nth-child(even) {
    background-color: slategray;
}
tbody tr:hover{
    background-color: rgb(58, 58, 58);
}
.sectionTitle{
    color: red;
}

#protocole{
    margin: 10px;
   
}

.emp{
    margin: 10px auto;
    padding: 20px;
    color: rgb(63, 58, 128);
    border: 3px dashed lightseagreen;
    background-color: rgb(170, 170, 170);
    max-width: 80%;
    height: 10%;
    text-align: center;
}